body {
  background: #242424;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
h1.title {
  font-family: "Lucida Console", Monaco, monospace;
}
input, select {
  background: #191919;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}
form { display: table; }
form p { display: table-row; }
form p label { display: table-cell; padding-left: 16px; padding-right: 16px; text-align: center; }
form p input { display: table-cell; }
input#start {
  padding: 10px 78.5px;
}
