html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: calc(100% - 16px);
}

.topbar {
  height: 120px;
}

.container {
  height: calc(100% - 154px);
}

.split, .gutter.gutter-horizontal {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
}
.box {
  overflow-y: auto;
  border: 1px solid #1A1A1A;
  border-radius: 10px;
  height: calc(100% - 24px); /* Take off toolbar height */
}
div.toolbar {
  height: 24px;
  overflow: hidden;
}
#packets {
  position: relative; /* Is this needed? TODO: Check */
}
.packetlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.packet:hover {
  background: #2C2C2C;
}

.packet {
  padding: 4px 8px;
  height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.5);
}

.packet.filter-hidden {
  display: none;
}

.packet.serverbound::before {
  content: "▲";
  color: #00FF00;
  padding-right: 4px;
}
.packet.clientbound::before {
  content: "▼";
  color: #FF0000;
  padding-right: 4px;
}

.name {
  color: rgba(255, 255, 255, 0.8);
}

body.noPacketSelected .whenPacketSelected {
  display: none;
}

body.packetSelected .whenNoPacketSelected {
  display: none;
}

.topbar-colour {
  top: 0;
  background: #121212;
  height: 40px;
  z-index: -1;
  position: fixed;
  width: 100%;
  left: 0;
}

span#hiddenPackets {
  color: rgba(255, 255, 255, 0.5);
}

.dialog-overlay {
  display: none;
}

.dialog-overlay.active {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}

div.dialog {
  position: fixed;
  top: 30px;
  left: 30px;
  background: #242424;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  border-radius: 20px;
  padding: 0 16px 16px 16px;
  box-sizing: border-box;
}

.CodeMirror.CodeMirror {
  height: calc(100% - 120px);
}

div#Scripting .CodeMirror.CodeMirror {
  height: calc(100% - 185px);
}

.packetLink {
  text-decoration: none;
}

#tabcontent {
  box-sizing: border-box;
  position: fixed;
  height: calc(100% - 48px);
  width: calc(100% - 16px);
  z-index: 1;
  display: block;
  background: rgb(36, 36, 36);
}










/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: rgba(0, 0, 0, 0.2); */
}

/* Style the buttons inside the tab */
.tab.tab button {
  margin: 0 2px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  background: #191919;
}

.tab-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: inherit;
  padding: 6px 16px;
}

.back-button {
  padding: 4px 8px;
}

.tab.tab.toolbar button {
  background: #1e1e1e;
  padding: 3px 16px;
}

.tab.tab.toolbar:nth-child(1) {
  margin-left: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #242424;
}

.tab.toolbar button.active {
  background-color: rgba(0, 0, 0, 0.35);
}

.tab.toolbar button.active {
  background-color: rgba(0, 0, 0, 0.35);
}


/* Style the tab content */
.tabcontent {
  height: 65px;
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}

.tabcontent.fullpage {
  position: relative;
  z-index: 1;
  background: #242424;
  height: calc(100vh - 52px);
}

div.search {
  height: 34px;
}

input.filter {
  box-sizing: border-box;
  height: 28px;
  width: 100%;
}

#iframe, #hex-viewer {
  border: 0;
  width: 100%;
  height: 100%;
}